.lieu {
	background: $gray-lighter url(../images/squared_metal.png);
}

.ours {
	padding: 2em 0;
	background: #333;
	color: #fff;
	a {
		color: #fff;
	}
}

.map-wrap  {
	position:relative; 
}

.map {
	width:100%;
	height:500px;
}

.map-overlay {
	width:100%;
	min-height:500px; 
	position:absolute; 
	top:0;
}