.mainheader {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  min-height: 180px;
  padding: 1em 0;
  text-transform: uppercase;

  .container {
  	height: 100%;
  	display: flex;
  	align-items: center;

  	> div {
  		position: relative;
  	}
  
  }
	.site-title {
		text-shadow : 3px 3px 3px rgba(0,0,0,0.4);
		margin: 0;
		font-size: 2rem;
		span {
			text-shadow : 
				1px 1px 0px rgba(255,255,255,1),
				//2px 2px 3px rgba(0,0,0,0.4);
		}
	}
}
.home .mainheader {
	height: 70vh;
	.site-title {
		font-size: $display2-size;
	}
}


/* Menu Button */
.menu-button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	width: auto;
	margin: 1em;
	padding: 10px 15px;
	text-align: center;
	font-size: 1.4em;
	border: none;
	color: #fff;
	background-color: $gray-dark;
	text-shadow : 1px 1px 0px rgba(0,0,0,0.4);
	span {
		//font-size: 4rem;

	}
	
}

.menu-button:hover {
	opacity: 0.6;
}