
//
// Pills
//

.nav a {
  display: inline-block;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;

    @include plain-hover-focus {
      color: $nav-disabled-link-hover-color;
      cursor: $cursor-disabled;
      background-color: transparent;
    }
  }
}

.nav-category {
  @include clearfix();

  .cat-item {
    display: block;
    float: none;

    + .cat-item {
      margin-top: .4rem;
      margin-left: 0;
    }
  }

  a {
    display: block;
    padding: $nav-link-padding;
    @include border-radius($nav-pills-border-radius);
    background-color: $gray-lighter;
    color: $gray-dark;

    &:hover {
    	background: $gray-light;
    	color: #fff;
    }
  }

  .current-cat a,
  .cat-item.open a {
    @include plain-hover-focus {
      color: $component-active-color;
      cursor: default;
      background-color: $component-active-bg;
    }
  }
}

.nav-stacked {
}
