@import "less/bootstrap.less";
@import "less/fonts.less";
@import "less/menu.less";

body {
  position: relative;
}

.mainheader {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  min-height: 180px;
  padding: 1em 0;
  text-transform: uppercase;
	h1 {
		text-shadow : 3px 3px 3px rgba(0,0,0,0.4);
		span {
			font-size: 120%;
			text-shadow : 
				2px 2px 0px rgba(255,255,255,1),
				2px 2px 3px rgba(0,0,0,0.4);
		}
	}
}

.accueil .mainheader {
	height: 100vh;
	h1 {
		font-size: 100px;

	}
}

section, article {
	padding: 4em 0;
}

.subpage {

	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;

}

.menu {
	background: darken(@brand-primary, 15%);
	font-size: 1.6em;
	font-weight: 600;
	
	ul > li > a {
		display: block;
	} 
	
	a {
 		text-transform: uppercase;
 		text-shadow : 1px 1px 0px rgba(0,0,0,0.4);

		&:hover, &:focus {
			color: lighten(@brand-primary, 15%);
			text-decoration: none;
		}
	}
	
	.active > a {
		color: #fff;
	}
	
	.reseaux {
		padding: 4px 0;
		border-top: solid 1px rgba(255,255,255,0.1);
	}
}

.jumbotron {
	background: transparent;
}

.accueil .agenda {
	background: #f4f4f4;
}

.lieu {
	background: url(../images/squared_metal.png);
}

.ours {
	padding: 2em 0;
	background: #333;
	color: #fff;
	a {
		color: #fff;
	}
}

.column-2 {
	.content-columns(2);
}
.column-3 {
	.content-columns(3);
}