@mixin nobullet {
  margin-#{$global-left}: 0;
  list-style: none;
}

@mixin container() {
  @include grid-column-row;
}

@mixin vertical-rythm {
  @include -zf-breakpoint-value(auto, $grid-column-gutter) {
    $margin: rem-calc($-zf-bp-value) / 2;

    margin-top: $margin;
    margin-bottom: $margin;
  }
}
