.banner {
  @include container;
  @include vertical-rythm;

  .wrapper {
    background: $white;
    height: $headerHeight;
    font-size: rem-calc(18);

    @include grid-column-row;
    @include flex;
    @include flex-align(justify, middle);
  }
}
