$border: 1px solid $white;

.accueil {
  &-title {
    color: $white;
    font-weight: bold;
    font-size: rem-calc(56);
    margin-bottom: 0;
    line-height: 1.1;
  }

  &-subtitle {
    color: $medium-gray;
    font-size: rem-calc(38);
  }

  &-menu {
    display: grid;
    align-items: stretch;
    justify-content: stretch;
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 200px);

    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 300px);
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    @include breakpoint(xlarge) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &-item {
      border: $border;
      background: rgba($white, 0.8);

      &:first-child {
        background: $secondary-color;
      }

      > * {
        padding: $global-padding;
      }

      &.empty {
        background: none;
      }
    }

    &-link {
      display: block;
      height: 100%;
      width: 100%;
      font-size: rem-calc(20);
      font-weight: bold;
      color: $secondary-color;
      transition: all 250ms $global-transition-function;

      &:hover,
      &:focus {
        background: $primary-color;
        color: $white;
      }
    }

    .secondary-menu {
      .items {
        margin-bottom: 0;

        @include nobullet;
      }
    }
  }
}

.wrap {
  @include container;

  .content {
    background: $white;

    @include grid-row;
  }

  .main,
  .sidebar {
    @include grid-column;
  }

  .main {
    @include grid-col-size(8);
  }

  .sidebar {
    @include grid-col-size(4);
  }
}
