section, article {
	padding: 4em 0;
}

.nav-subpages {
	padding-top: 3em;
}

.subpage {

	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;

}
.jumbotron {
	background: transparent;
}

.home .agenda {
	background: #f4f4f4;
}
